<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventStore" type="EventStoreWinServiceWrapper.EventStoreServiceConfiguration, EventStoreWinServiceWrapper, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <eventStore executable="C:\eventstore\EventStore-NET-v3.0.0rc2\EventStore.SingleNode.exe">
    <instance name="Dev" tcpPort="1113" httpPort="2113" dbPath="E:\eventstore\data" address="127.0.0.1" />
 </eventStore>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>